  @use '../mixins';
  @use '../media';

.about-me{
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__titel{
        color: var(--color-blue);

        
       @include media.mobile {
            @include mixins.casper; // Полностью скрывает элемент
        }
    }

    &__information{
        display: flex;
        flex-direction: column;
        
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        margin: 20px;

        @include media.mobile {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1px;
            margin: 2px;
        }
    }
    
    &__education-item{
        @include mixins.square(100%);

        color: var(--color-light);
        background-color: var(--color-blue);
        border-radius: 35px;
        grid-column: span 2;
        grid-row: span 2;
        padding: 30px;

        h3{
            position: relative;
            bottom: -5%;
            
             &::before{
                content: '';
                position: absolute;
                background-image: url(../image/BMSTU.png);
                background-size: cover;
                background-position: center;
                vertical-align: middle;
                width: clamp(250px, 40vw,554px);
                height: clamp(200px, 27vw,323px);
                top: 130%;
                left: -1%;

                @include media.tablet{
                    top: clamp(78%, 50%, 46%);
                    left: -3%;
                }

                @include media.mobile{
                    @include mixins.casper;
                }
            }

            @include media.mobile{                        
                font-weight: 400;
                font-size: 20px;
            }
        }

        @include mixins.hover{
            color: var(--color-dark);
            background-color: var(--color-acent);
            transition-duration: var(--transition-duration);
            position: relative;
            top: -10px;
        }

        @include media.mobile{
            padding: 18px;
        }
    }

    &__list--image{
        background-color: lightgrey;
        border-radius: 35px;
        position: relative;

        &::before{
                content: '';
                width: clamp(160px, 23vw, 300px);
                height: clamp(160px, 26vw, 300px);
                position: absolute;
                background-image: url(../image/header.png);
                background-size: cover;
                background-repeat: no-repeat; 
                background-position: center; 
            }
        
        @include media.mobile{
            @include mixins.casper
        }
    }

    //второй блок с квадратами
    &__skils{
        grid-column: span 2;
        background-color: lightgray;
        border-radius: 35px;
        padding: 30px;

        @include mixins.hover{
            color: var(--color-light);
            background-color: var(--color-blue);
            transition-duration: var(--transition-duration);
            position: relative;
            
        }

        @include media.mobile{
            @include mixins.casper
        }
    }

    &__ghost{
        grid-column: span 2;

        &--small{
            grid-column: span 1;

            @include media.mobile{
                @include mixins.casper;
            }
        }
    }

    &__html, 
    &__scss,
    &__bem,
    &__js{
        @include mixins.blue-quadra;
        @include mixins.hover{
            color: var(--color-dark);
            background-color: var(--color-acent);
            transition-duration: var(--transition-duration);
            position: relative;
            top: -10px;
        } 
    }

    //третий блок с квадратами
    &__experience{
        @include mixins.square(100%);

        color: var(--color-light);
        background-color: var(--color-blue);
        border-radius: 35px;
        grid-column: span 2;
        grid-row: span 2;
        padding: 30px;
        position: relative;

        p{
            font-size: 16px;
            text-transform: uppercase;
        }

        h4{
            margin-bottom: 0;
        }

        span{
            margin: 10px;
            margin-inline: 0;
        }

        &--mark{
            color: var(--color-light);
            background: rgba(222, 218, 218, 0.15);
            backdrop-filter: blur(12px) saturate(180%);
            -webkit-backdrop-filter: blur(12px) saturate(180%);
            border: 1px solid rgba(110, 104, 104, 0.2);
            border-radius: 50px;
            padding: 10px 30px;
            font-weight: 400;
            margin-top: 20px;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 61%;
            left: 47%;
            rotate: 9deg;

            @include media.mobile{
                @include mixins.casper;
            }            
        }

        &--Hi{
            color: var(--color-dark);
            background: var(--color-acent);
            border-radius: 50px;
            padding: 10px 30px;
            font-weight: 400;
            margin-top: 20px;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 71%;
            left: 50%;
            transform: translate(-50%, -71%);
            rotate: -1deg;

            @include media.mobile{
                @include mixins.casper;
            }
        }

        &::before{
            content: '';
            position: absolute;
            width: clamp(150px,40vw,400px);
            height: clamp(150px,40vw,400px);
            background-image: url(../image/cup-Photoroom.png);
            background-repeat: no-repeat;
            background-size: cover;
            vertical-align: middle;
            left: clamp(15%,24vw,33%);
            bottom: 0%;
            z-index: 10px;

            @include media.mobile{
                @include mixins.casper
            }
        }

        @include mixins.hover{
            color: var(--color-dark);
            background-color: var(--color-acent);
            transition-duration: var(--transition-duration);
            position: relative;
            top: -10px;
        }
        
        @include media.mobile{
            padding: 18px;
        }   
    }

    &__experience--titel{
        background-color: lightgray;
        border-radius: 35px;
        padding: 30px;

        @include mixins.hover{
            color: var(--color-light);
            background-color: var(--color-blue);
            transition-duration: var(--transition-duration);
        }
    }


}