@use '../mixins';

.contacts{
    background-color: var(--color-light);
    border-radius: 20px;
    padding-inline: 20px;
    padding-block: 60px;
    position: relative;
    top:-65px;
    
    &__titel{
        color: var(--color-light);
        position: relative;
        z-index: 200;

        h2{
            @include mixins.fluid-text(150, 120);
            //font-size: 150px;
            padding-block: 0;
            padding-inline: 20px;
            margin: 0;
        }
    }

    &__list{
        position: relative;
        z-index: 200;

        &::before{
            content: '';
            position: absolute;
            width: 542px;
            height: 557px;
            background-image: url(../image/ZaGaLine.png);
            background-size: cover;
            background-position: center;
            vertical-align: middle;
            top: -40%;
            left: 58%;
            z-index: 100;
            pointer-events: none;
        }
    }

    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap:40px;
        position: relative;
        z-index: 300;

        a{
            font-size: 80px;
            font-weight: 600;
        }
    }

    &__name{
        position: relative;
        z-index: 300;

        &::after{
            content: '';
            position: relative;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: var(--color-dark);
        }

        @include mixins.hover{
            color: var(--color-blue);
            opacity: 0.7;
        }
    }

    &__mail{
        a{
            @include mixins.hover{
                color: var(--color-blue);
                opacity: 0.7;
            }
        }
    }
}

.section-contacts{
    background-color: var(--color-blue);
    padding-block: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 100;
}

.mail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
    z-index: 200;

    span{
        font-size: 32px;
    }
}